@import url(https://fonts.googleapis.com/css?family=Exo:100);
.header-set {
  height: 290px;
  align-items: center; }

.image-text {
  padding: 1px 8px;
  background: rgba(255, 255, 255, 0.75);
  color: black; }

.image-text-sub {
  padding: 0px 0px;
  color: white;
  background: #EFC88B; }

.bold-text {
  color: #555555;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center; }

.sub-headings {
  color: #555555;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 10px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-transform: uppercase;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 20px 0;
  grid-gap: 20px; }

h2.sub-headings:after, h2.sub-headings:before {
  content: " ";
  display: block;
  border-bottom: 3px solid #EFC88B; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.backRed {
  background-color: rgba(238, 211, 161, 0.2);
  margin: 30px 20px;
  box-shadow: 0px 1px 2px 0px #BDBDBD; }

.footer {
  background-color: #CFCFCF;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: black;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(180deg, #1E88E5, #fff);
  background-repeat: no-repeat; }

.navbar-light {
  background-color: white; }

.navbar a {
  color: #131313; }

.navbar li.active {
  background: #EFC88B; }
  .navbar li.active a {
    color: #fafafa; }

.navbar .navbar-toggle .icon-bar {
  background: #131313; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: black; }
  .carousel .carousel-item {
    height: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 280px; }

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal .modal-header {
  background: white;
  color: black; }
  .modal .modal-header button {
    color: black; }

.modal .modal-body {
  background: #CFCFCF; }

@media only screen and (min-width: 768px) {
  .carousel .carousel-item {
    height: 400px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 400px; } }

@media only screen and (min-width: 992px) {
  .carousel .carousel-item {
    height: 600px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 600px; } }

/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px; } }

@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px; } }

@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px; } }

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px; } }

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px; } }

@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px; } }

@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px; } }

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px; } }

/* Main styles */
body {
  margin-top: 13.5rem;
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 1.5s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 1.5s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 1.5s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 1.5s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear; }

.cardShow {
  box-shadow: 0px 4px 8px 0px #BDBDBD;
  height: 500px; }
  .cardShow img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    max-height: 500px; }

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  border: none;
  padding: 5px 20px !important;
  font: inherit;
  font-size: 50px !important; }

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  color: #0D47A1 !important;
  background-color: transparent !important; }

.owl-dots {
  display: none; }

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0; }

.item {
  display: none; }

.next {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6; }

.prev {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6; }

.item.show {
  display: block;
  transition-duration: 0.4s; }

@media screen and (max-width: 999px) {
  .next,
  .prev {
    transform: scale(1);
    opacity: 1; }
  .item {
    display: block !important; } }
